﻿@model Customer

<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Customer</h2>
            <hr />
        </div>

        @*Summary Validation / Tambahan Validasi ( Opsional )*@
        @*<div asp-validation-summary="All"></div>*@

        <div class="row mb-3">
            <div class="col-3">
                @*<label asp-for="Customer_Name"></label>*@
                <label>Customer Name</label>
            </div>
            <div class="col-9">
                <input asp-for="Customer_Name" disabled class="form-control" />
            </div>                        
        </div>

        <div class="row mb-3">
            <div class="col-3">
                @*<label asp-for="Address"></label>*@
                <label>Address</label>
            </div>
            <div class="col-9">
                <input asp-for="Address" disabled class="form-control" />
            </div>                        
        </div>

        <div class="row mb-3">
            <div class="col-3">
                @*<label asp-for="Place_Of_Birth"></label>*@
                <label>Place Of Birth</label>
            </div>
            <div class="col-9">
                <input asp-for="Place_Of_Birth" disabled class="form-control" />
            </div>                        
        </div>

        <div class="row mb-3">
            <div class="col-3">
                @*<label asp-for="Date_Of_Birth"></label>*@
                <label>Date Of Birth</label>
            </div>
            <div class="col-9">
                <input type="date" asp-for="Date_Of_Birth" disabled class="form-control" />
            </div>                        
        </div>

        <div class="row mb-3">
            <div class="col-3">
                @*<label asp-for="Identity_Id"></label>*@
                <label>Identity No</label>
            </div>
            <div class="col-9">
                <input asp-for="Identity_Id" disabled class="form-control" />
            </div>                        
        </div>

        <div class="row mb-3">
            <div class="col-3">
                @*<label asp-for="Contact"></label>*@
                <label>Contact</label>
            </div>
            <div class="col-9">
                <input asp-for="Contact" disabled class="form-control" />
            </div>                        
        </div>

        <button type="submit" class="btn btn-sm btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Customer" asp-action="Index" class="btn btn-sm btn-secondary" style="width:150px">
            Back To List
        </a>
    </div>
</form>

@*@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}*@