﻿@model Customer

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Customer</h2>
            <hr />
        </div>

        @*Summary Validation / Tambahan Validasi ( Opsional )*@
        <div asp-validation-summary="All"></div>
        <div class="row mb-3">
            <div class="col-3">
                @*<label asp-for="Customer_Name"></label>*@
                <label>Customer Name</label>
            </div>
            <div class="col-9">
                <input asp-for="Customer_Name" class="form-control" />
                <span asp-validation-for="Customer_Name" class="text-danger"></span>
            </div>                        
        </div>

        <div class="row mb-3">
            <div class="col-3">
                @*<label asp-for="Address"></label>*@
                <label>Address</label>
            </div>
            <div class="col-9">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>                        
        </div>

        <div class="row mb-3">
            <div class="col-3">
                @*<label asp-for="Place_Of_Birth"></label>*@
                <label>Place Of Birth</label>
            </div>
            <div class="col-9">
                <input asp-for="Place_Of_Birth" class="form-control" />
                <span asp-validation-for="Place_Of_Birth" class="text-danger"></span>
            </div>                        
        </div>

        <div class="row mb-3">
            <div class="col-3">
                @*<label asp-for="Date_Of_Birth"></label>*@
                <label>Date Of Birth</label>
            </div>
            <div class="col-9">
                <input type="date" asp-for="Date_Of_Birth" class="form-control" />
                <span asp-validation-for="Date_Of_Birth" class="text-danger"></span>
            </div>                        
        </div>

        <div class="row mb-3">
            <div class="col-3">
                @*<label asp-for="Identity_Id"></label>*@
                <label>Identity No</label>
            </div>
            <div class="col-9">
                <input asp-for="Identity_Id" class="form-control" />
                <span asp-validation-for="Identity_Id" class="text-danger"></span>
            </div>                        
        </div>

        <div class="row mb-3">
            <div class="col-3">
                @*<label asp-for="Contact"></label>*@
                <label>Contact</label>
            </div>
            <div class="col-9">
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>                        
        </div>

        <button type="submit" class="btn btn-sm btn-primary" style="width:150px">Update</button>
        <a asp-controller="Customer" asp-action="Index" class="btn btn-sm btn-secondary" style="width:150px">
            Back To List
        </a>
    </div>
</form>

@*@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}*@