﻿@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="row p-4" >
        <div class="col-6">
            @if(TempData["Success"] != null)
            {
                <h6 style="color:green;">@TempData["Success"]</h6>
            }
        </div>
        <div class="col-6">
            &nbsp;
        </div>
        @*<partial name="_Notification" />*@

        <div class="col-6">
            <h2>Customer List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Customer" asp-action="Create" class="btn btn-sm btn-primary">
                <i class="fa fa-plus"></i> &nbsp; Add Customer
            </a>
        </div>
        <div class="col-12">
            &nbsp;
        </div>
        <div class="col-12">
           <table class="table table-bordered table-striped" style="width:100%" >
                <thead>
                    <tr>
                        @*<th class="table-primary">
                            No
                        </th>*@
                        <th class="table-primary">
                            Customer Name
                        </th>
                        <th class="table-primary">
                            Address
                        </th>
                        <th class="table-primary">
                            Place Of Birth
                        </th>
                        <th class="table-primary">
                            Date Of Birth
                        </th>
                        <th class="table-primary">
                            Identity No
                        </th>
                        <th class="table-primary">
                            Contact
                        </th>
                        <th class="table-primary">
                            Action
                        </th>
                    </tr>
        
                </thead>
                <tbody>
                    @foreach(var obj in Model)
                    {
                        <tr>
                            @*<td>
                                @obj.Id
                            </td>*@
                            <td>
                                @obj.Customer_Name
                            </td>
                            <td>
                                @obj.Address
                            </td>
                            <td>
                                @obj.Place_Of_Birth
                            </td>
                            <td>
                                @obj.Date_Of_Birth
                            </td>
                            <td>
                                @obj.Identity_Id
                            </td>
                            <td>
                                @obj.Contact
                            </td>
                            <td>
                                <div class="w-20 btn-group" role="group">
                                    <a asp-controller="Customer" asp-action="Edit" asp-route-Id="@obj.Id" class="btn btn-sm btn-primary"> Edit</a> &nbsp; &nbsp;
                                    <a asp-controller="Customer" asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-sm btn-danger"> Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    
</div>