﻿
@if(TempData["Success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        @*<h6 style="color:green;">@TempData["Success"]</h6>*@
        toastr.success('@TempData["Success"]');
    </script>
    
}

@if(TempData["Error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        @*<h6 style="color:green;">@TempData["Error"]</h6>*@
        toastr.Error('@TempData["Error"]');
    </script>
    
}